	h2
{
color:blue;font-family:comic sans ms;
}

	h3
{
color:red;font-family:comic sans ms;
}
	p
{
color:white;font-family:comic sans ms;
}
body {
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}